[Unit]
Description=Shuei Controller Service

[Service]
WorkingDirectory=/usr/bin
ExecStart= /bin/bash /usr/bin/shuei-controller/scripts/prepare.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
